<h1>Add something here</h1>
<form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="fname">Full name</label><br>
      <input type="text" id="fname" name="fname"><br>
    </div>
   <div class="mb-3 col-lg-2">
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email"><br>
    </div>
    <button type="submit" class="btn btn-secondary">Add</button>
    <button type="submit" class="btn btn-info text-white">Edit</button>
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>